<html>
<head>
	<title>League Bans</title>
	<link rel="stylesheet" href="css/index.css">
</head>
<body>
<table>
	<thead>
		<td>Champion</td>
		<td>Popularity</td>
		<td>Win Rate</td>
		<td>Ban Rate</td>
		<td>Ban Score</td>
	</thead>
	{{#each data}}
		<tr>
			<td>{{this.champion}}</td>
			<td class="right">{{formatDecimal this.popularity}}%</td>
			<td class="right">{{formatDecimal this.winRate}}%</td>
			<td class="right">{{formatDecimal this.banRate}}%</td>
			<td class="right">{{formatDecimal this.banScore}}</td>
		</tr>
	{{/each}}
</table>
</body>
</html>
